/* Share styles */

@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Merriweather:wght@300;400;700;900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Merriweather', serif;
    font-family: 'Inter', sans-serif;
}

footer {
    max-width: 1600px;
    box-sizing: border-box;
}

/* main section styles */
main {
    max-width: 1320px;
    margin: 0 auto;
}

.header-section {
    border-radius: 16px;
    background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url('../images/BannerImage.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 50px;
}

.header-section-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 150px;
    max-height: 600px;
    padding-bottom: 177px;
    gap: 15px;
    margin-bottom: 120px;

}

.header-section-container h3 {
    color: #FFF;
    text-align: center;
    font-family: Merriweather;
    font-size: 32px;
    font-weight: 400;
}

.header-section-container h1 {
    color: #FFF;
    text-align: center;
    font-family: Merriweather;
    font-size: 72px;
    font-weight: 900;
    line-height: 80px;
    padding: 0 300px;

}

/* Discount styles */
.discount-section {
    background: #FFF;
    margin-bottom: 120px;
}

.discount-section-container h1 {
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 72px;
    font-weight: 700;
    padding-bottom: 20px;
}

.discount-section-container p {
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    padding-bottom: 10px;
}

.discount-section-container h3 {
    color: #070211;
    text-align: center;
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
    padding-bottom: 30px;
}

.discount-img img {
    width: 802.9px;
    height: 500px;
    flex-shrink: 0;
}

.discount-section-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

/* Welcome styles */
.welcome-section {
    background: #FFF;
    background: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url('../images/Vector.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 16px;
    margin-bottom: 120px;

}

.welcome-content h1 {
    color: #FFF;
    font-family: Merriweather;
    font-size: 64px;
    font-weight: 900;
    line-height: 88px;
    letter-spacing: 7.04px;
    width: 642px;
    height: 176px;

}

.welcome-content p {
    width: 52%;
    color: rgba(255, 255, 255, 0.80);
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    width: 697px;
    height: 60px;
    padding-top: 10px;


}

.wecome-btn {
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    border: none;
    cursor: pointer;
    background: none;
    padding: 16px;
    border-radius: 5px;
    margin-top: 20px;
    margin-left: 0;
}

.welcome-section-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 50px;
}

.welcome-content {
    flex-basis: 65%;
    padding: 126px 40px 142px 126px;
}

.welcome-img img {

    padding: 68px 138px 67px 50px;
}

.welcome-content button:hover {
    background-color: #F00;
    transition: 0.5s;
    transform: scale(1.3s);
}

/* Details section styles */
.details-section {
    background: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
    border-radius: 16px;
    margin-bottom: 120px;
}

.details-container h3 {
    color: #070211;
    font-family: Inter;
    font-size: 28px;
    font-weight: 600;
    line-height: 56px;
    text-transform: capitalize;
}

.details-container span {
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 32px;
    font-weight: 600;
    line-height: 56px;
    text-transform: capitalize;
}

.details-container button {
    border: none;
    cursor: pointer;
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    border-radius: 8px;
    background: #F00;
    padding: 16px 32px;
}

.details-container {
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
    justify-content: center;
    padding: 100px 385px;
}

.details-btn {
    margin-top: 50px;
}

.details-container button:hover {
    background-color: #070211;
    transition: 0.5s;
    transform: scale(1.3s);
}

/* Coming soon styles */
.coming-soon-section {
    margin-bottom: 120px;
}

.coming-soon-container {
    display: flex;
    align-items: center;
    gap: 120px;


}

.coming-soon-container div {
    flex-basis: 33.33%;

}


.coming-soon h4 {
    color: #F00;
    font-family: Inter;
    font-size: 20px;
    font-weight: 500;
}

.coming-soon h1 {
    color: #070211;
    font-family: Merriweather;
    font-size: 40px;
    font-weight: 900;
    text-transform: capitalize;
}

.coming-soon p {
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 32px;
    width: 393px;
    height: 128px;


}

.year-title {
    color: #F00;
    font-family: Inter;
    font-size: 40px;
    font-weight: 700;

}

.coming-soon-2024 p {
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    width: 276px;
    height: 96px;


}

.coming-soon-2024 img {
    width: 140px;
    height: 140px;
}

.coming-soon-img img {
    border: 12px solid red;
    border-radius: 50%;
    margin: auto;
    padding: 18px;
}

.coming-soon {
    padding-left: 10px;
}

/* Holiday sale description */
.holiday-sale-section {
    background: #FFF;
    margin: 120px 0;
}

.holiday-sale-content h4 {
    color: #070211;
    font-family: Inter;
    font-size: 20px;
    font-weight: 500;
}

.holiday-sale-content h1 {
    color: #F00;
    font-family: Merriweather;
    font-size: 60px;
    font-weight: 900;
}

.holiday-sale-content p {
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 25px;
    width: 850px;
}

.holiday-sale-content .holiday-sale-offer span {
    color: #070211;
    font-family: Merriweather;
    font-size: 60px;
    font-weight: 900;
}

.holiday-sale-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

/* DIscount-image styles */
.discount-first-img {
    width: 400px;
    height: 400px;
    background-image: url("../images/Rectangle1.png");
    background-size: cover;
    background-position: center;
    position: relative;
}

.discount-gallery {
    display: flex;
    align-items: end;
    margin-top: 48px;
    flex-direction: column;
    padding-top: 0px;
    width: 100%;
}

.discount-first-img img {
    position: absolute;
    left: -40%;
    top: 10%;
}

.discount-second-img {
    width: 1320px;
    height: 150px;
    background-image: url("../images/Rectangle2.png");
    position: relative;
    border-radius: 0 0 16px 16px;
}

.discount-second-img img {
    position: absolute;
    width: 545px;
    top: -231%;
    left: 5%;

}

/* Portfolio-section-styles */
.portfolio-section {
    background: #FFF;
}

.portfolio-content h4 {
    color: #F00;
    font-family: Inter;
    font-size: 20px;
    font-weight: 500;
    padding-bottom: 10px;
}

.portfolio-content h1 {
    color: #070211;
    font-family: Merriweather;
    font-size: 40px;
    font-weight: 900;
    text-transform: capitalize;
    padding-bottom: 10px;
}

.portfolio-content p {
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    width: 800px;
    padding-top: 16px;

}

.portfolio-gallery-container {
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.portfolio-section .portfolio-gallery-container img {
    width: 424px;
    filter: grayscale(100%);
    transition: transform 0.5s;
    cursor: pointer;
}

.portfolio-gallery-container img:hover {
    filter: grayscale(0%);
    transform: scale(1.5s);
}

/* Subscribe Styles */
.subscribe-section {
    margin-top: 120px;
    border-radius: 16px;
    background: rgba(255, 0, 0, 0.05);
    margin-bottom: 120px;
}

.subscribe-content img {
    width: 150px;
    height: 150px;
    margin-top: 50px;
    margin-bottom: 30px;
}

.subscribe-content h1 {
    color: #070211;
    font-family: Merriweather;
    font-size: 40px;
    font-weight: 900;
    text-transform: capitalize;

}

.subscribe-content p {
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 32px;
    width: 896px;
    text-align: center;
    padding-top: 18px;
}

.subscribe-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input-form input {
    width: 400px;
    height: 65px;
    border: none;
    outline: none;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
}

.input-form input::placeholder {
    color: rgba(7, 2, 17, 0.30);
    font-family: Inter;
    font-size: 15px;
    font-weight: 400;
    padding: 25px;


}

.subscribe-btn {
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-weight: 600;
    text-transform: capitalize;
    border-radius: 0px 50px 50px 0px;
    background: #F00;
    padding: 19.5px 56px;
    border: none;
    outline: none;
    cursor: pointer;
}

.input-form {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 40px;
    padding-bottom: 70px;
}

.subscribe-btn:hover {
    background-color: #070211;
    transition: 0.5s;
    transform: scale(1.3s);
}

/* footer styles */
footer {
    margin-top: 64px;
    background-color: #150909;
    color: #fff;
    padding: 64px 0;
    
}

.footer-div-container {
    max-width: 1200px;
    margin: auto;
}

.footer-content {
    margin-bottom: 16px;
    display: flex;
    justify-content: space-between;
    
}

.footer-icon {
    display: flex;
    gap: 8px;
    align-items: center;
    margin-bottom: 10px;
}

.footer-icon a {
    text-decoration: none;
    color: #fff;
}

hr {
    background-color: rgba(255, 255, 255, 0.25);
    height: 0.7px;
    border: none;
}

.footer-images {
    display: flex;
    gap: 16px;
    justify-content: center;
    margin: 29px 0;
}

.footer-images img {
    cursor: pointer;
}

.footer-copyright {
    padding-top: 32px;
    display: flex;
    justify-content: space-between;
}

button {
    color: #FFF;
    font-family: Inter;
    font-size: 16px;
    font-weight: 500;
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
    padding: 16px;
    border-radius: 5px;
    transform: 0.5s;

}
button:hover{
    background-color: #F00;
    transition: 0.5s;
    transform: scale(1.5s);
}